.progress {
  min-width: 100px;
  height: 6px;

  border: 1px solid #ebebeb;
  border-radius: 2px;
  background: #f7f7f8;
}

.progress-bar {
  max-width: 100%;
  height: 4px;

  transition: width 0.15s ease;

  border-radius: 2px;
  background: #3a76d2;
}
