.c-calendar .DayPicker-WeekdaysRow {
  display: flex;
  flex-grow: 1;
}

.c-calendar .DayPicker-Week {
  display: flex;
}

.c-calendar .DayPicker-Day {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-right: 5px;

  border: none;
  border-radius: 100%;

  font-size: 12px;
}

.c-calendar .DayPicker-Day:last-of-type {
  margin-right: 0;
}

.c-calendar .DayPicker-Week--active {
  border-radius: 15px;
  background: rgba(58, 118, 210, 0.2);
}

.c-calendar .DayPicker-Weekday {
  width: 34px;
}

.c-calendar .DayPicker-NavButton {
  top: 3px;

  width: 0.375rem;
  height: 0.75rem;
}

.c-calendar .DayPicker-Caption {
  margin: 0 -1rem;
  padding-bottom: 2rem;

  border-bottom: solid 1px #ebebeb;
}

.c-calendar * {
  outline: none;
}
