.measurements-list-body > tr > td {
  border: 0 !important;
}

.measurements-list-body > tr:not(:first-child) > td {
  padding-top: 5px !important;
}

.measurements-list-body > tr:not(:last-child) > td {
  padding-bottom: 5px !important;
}

.measurements-list-body {
  border-bottom: solid 1px #ebebeb;
}
